<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="emp" class="com.merc.demo.models.Employee">
	
	<!-- Setter injection/property inj -->
  	<property name = "eid">
		<value>101</value>
	</property>
	
	<property name = "firstName">
		<value>Sonu</value>
	</property>
	
	<property name = "salary">
		<value>90000</value>
	</property>
	
	<!-- Contructor injection 
	<bean id="emp" class="com.merc.demo.models.Employee">
	<constructor-arg value="101" type="java.Lang.Integer"></constructor-arg>
	<constructor-arg value="Sonu" type="java.Lang.String"></constructor-arg>
	<constructor-arg value="90000" type="java.Lang.Double"></constructor-arg>
	-->
	</bean>


</beans>